/* Reset some default styling */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: #eee;
}

header {
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

h3 {
    font-size: 1em;
    margin-bottom: 10px;
}

h4 {
    font-size: 0.8em;
    margin-bottom: 10px;
}

img {
    max-width: 200px;
    max-height: 150px;
    border-radius: 50% /30%
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0px;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: blue;
}

nav a:hover {
    color: rgb(197, 200, 237);
}

section {
    padding: 15px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: rgb(63, 63, 166);
}

.red-text {
    color: rgb(210, 0, 0);
}

.grey-text {
    color: rgb(150, 150, 150);
}

.black-text {
    color: rgb(223, 166, 35);
}

.blue-text {
    color: blueviolet;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
  }

  .button:hover {
    background-color: #3e8e41
  }

  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }